.section{
  padding: 0;
  margin: 0;
  width: 100%;
}

.container{
  max-width: 100%;
  padding: 4rem 2rem;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-items: top;
}

/* utilities */

.section h1, .section  h2, .section  h3, .section  h4, .section  h5, .section  h6, .section  p{
  margin: 0;
  padding: 0;
}

.quote{
  display: grid;
  padding: 2rem;
  margin: 0;
  border: 1px solid black;
  row-gap: 1rem;
  justify-content: center;
  align-items: top;
  width: 575px;
  grid-template-columns: 1fr;
  grid-template-areas: 
              "section1"
              "section3"
              "section4"
              "section5"
              "section6"
              "section7"
              "section8"
              "section9";
}

.section1{
  grid-area: section1;
  width: 100%;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: max-content max-content;
}

.section1 img{
  height: 8rem;
  width: 8rem;
}

.section3{
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
}

.section3 div{
  display: grid;
  row-gap: .1rem;
}

.section3 h3{
  width: 100%;
  border: 1px solid white;
  font-size: medium;
  font-weight: 500;
  padding: 4px;
}

.section3 div p{
  width: 100%;
  font-size: small;
  font-weight: 400;
  padding: 4px;
}

.section4{
  grid-area: section4;
  width: 100%;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.section4 h3{
  width: 100%;
  border: 1px solid white;
  font-size: medium;
  font-weight: 500;
  padding: 4px;
}
.section4 p{
  width: 100%;
  border: 1px solid white;
  font-size: small;
  font-weight: 400;
  padding: 4px;
}

.section4 div{
  display: grid;
  row-gap: .1rem;
}

.section5{
  grid-area: section5;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 1fr repeat(3, .2fr);
}

.section5 div{
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 1fr;
}

.section5 div h3{
  width: 100%;
  background-color: #001A2E;
  border: 1px solid white;
  font-size: small;
  font-weight: 400;
  color: white;
  padding: 4px;
}
.section5 div p{
  width: 100%;
  background-color: #F3F3F3;
  border: 1px solid white;
  font-size: small;
  font-weight: 3s00;
  padding: 4px;
}
.section6{
  grid-area: section6;
  display: grid;
  justify-content: right;
  align-items: center;
  grid-template-columns: repeat(3, max-content);
  column-gap: 1rem;
}

.section6 h3{
  font-size: medium;
  font-weight: 600;
}
.section6 p{
  font-size: medium;
  font-weight: 300;
  padding: 0 .5rem;
}
.section7{
  grid-area: section8;
}

.section8 div{

}

.section8{
  grid-area: section8;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
}

.section8 div{
  display: grid;
  grid-template-columns: 1fr;
}

.section8 h4{
  font-size: small;
  font-weight: 500;
}
.section8 ul li{
  font-size: small;
  font-weight: 300;
}


.section9{
  grid-area: section9;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: space-between;
  align-items: center;
}

.section9 h5{
  font-size: small;
  font-weight: 300;
  color: blue;
}